#algolia-search-box input[type="search"] {
  border: 1px solid $border-gray;
  border-radius: 50px;
  width: 80%;

  &:focus {
    outline: 0;
  }
}

#ais-main .algolia-search-box-wrapper .search-icon {
  fill: $royal-purple;
  left: 5px;
}

#ais-facets h2 {
  text-decoration: underline $cherry-red 3px;
}
.ais-CurrentRefinements-label {
  display: none;
}
.ais-CurrentRefinements-delete {
  border: none;
  &:hover {
    border: none;
    background: transparent;
    color: $gray;
  }
}