.pirate-book-chest-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1024px !important;
  margin: 1.2em auto;

  .individual-book {
    flex: 1 0 auto;
    width: 30%;
    h2 {
      margin-bottom: 32px;
    }
    .edit-book {
      display: block;
    }
    h2,
    .edit-book {
      text-align: center;
    }
    & img:hover {
      box-shadow: 0 5px 8px 5px #720000;
    }
    & img {
      transition: box-shadow .3s;
    }
  }
  @media screen and (min-width: 360px) {
    .individual-book {
      width: 100%;
    }
  }
  @media screen and (min-width: 667px) {
    .individual-book {
      width: 50%;
    }
  }
  @media screen and (max-width: 767px) {
    margin: 1.2em !important;
  }

  .book-placeholder {
    background: #720000 url('../images/abc-book.svg') 50% 50% no-repeat;
    background-size: 90%;
    color: #fff;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    width: 225px;
  }
  .wp-post-image {
    margin-top: 0;
  }
}

.single-books {
  .reading-status {
    span {
      background-color: #720000;
      display: block;
      height: 5px;
    }
  }
}