.badges {
  img {
    height: 15px;
    width: 80px;
  }
}

@media screen and (min-width: 768px) {
  #site-generator {
    display: flex;

    & > div {
      padding: 0 30px;
      width: 50%;
    }

    .site-fun-stuff {
      text-align: left;
    }

    .site-credits {
      text-align: right;
      margin-top: 16px;
    }
  }
}