.site-header {
  #site-title {
	a {
	  color: $cherry-red;
	}
  }
}

h1,
h2,
h3,
h4 {
  .entry-title {
	a {
	  color: $cherry-red;
	}
  }
}

.site-navigation {
  ul {
	a {
	  color: $cherry-red;
	}
  }
}

.entry-meta a,
.wp-caption-text a,
.gallery-caption a,
.page-link a,
.page-links a,
.site-header #site-title a,
.site-navigation ul a,
h1.entry-title a,
h2.entry-title a,
h3.entry-title a,
h4.entry-title a {
	text-decoration: underline;
}
