.site-header {
  #site-title {
	a {
	  color: $cherry-red;
	}
  }
}

h1,
h2,
h3,
h4 {
  .entry-title {
	a {
	  color: $cherry-red;
	}
  }
}

.site-navigation {
  ul {
	a {
	  color: $cherry-red;
	}
  }
}
