.site-header #site-title a {
  color: #720000;
}

h1.entry-title a,
h2.entry-title a,
h3.entry-title a,
h4.entry-title a {
  color: #720000;
}

.site-navigation ul a {
  color: #720000;
}

.entry-meta a,
.wp-caption-text a,
.gallery-caption a,
.page-link a,
.page-links a,
.site-header #site-title a,
.site-navigation ul a,
h1.entry-title a,
h2.entry-title a,
h3.entry-title a,
h4.entry-title a,
#archive-nav a {
  text-decoration: underline;
}

a,
.entry-meta,
.entry-meta a,
.wp-caption-text a,
.gallery-caption a,
.page-link a,
.page-links a,
.entry-meta.post-format a,
.entry-meta.post-format span,
.entry-meta.post-format .entry-format::before,
.site-header .page-banner #page-title,
.site-header .page-banner #page-description,
.site-header .page-banner #page-meta,
.entry-content,
.entry-summary,
#colophon,
#archive-nav .page-numbers,
#archive-nav a:hover,
.site-navigation ul ul a {
  color: #533875;
}

.site-navigation ul ul li:hover > a,
.site-navigation ul ul li.focus > a {
  background-color: #533875;
}

.entry-content a {
  color: #720000;
}

#hcard_widget {
  max-width: 100%;
  width: 50%;
}

#hcard_widget .avatar {
  height: auto;
  max-width: 100%;
}

/* "Bean me" submit button */
#nf-field-9 {
  border: solid #222 1px;
}

.post-type-archive-music_video article {
  text-align: center;
}

.wp-block-embed .twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

.post .entry-content .wp-block-image,
.post .entry-content .wp-block-embed {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}

mark {
  background: #720000;
  color: #fff;
}

#sidebar ul li {
  padding-bottom: 15px;
}

.site-navigation .sub-menu li {
  border-left: solid #720000 3px;
}

.site-navigation .sub-menu li:hover {
  border-left-color: #fff;
}

.pirate-book-chest-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1024px !important;
  margin: 1.2em auto;
}

.pirate-book-chest-wrapper .individual-book {
  flex: 1 0 auto;
  width: 30%;
}

.pirate-book-chest-wrapper .individual-book h2 {
  margin-bottom: 32px;
}

.pirate-book-chest-wrapper .individual-book .edit-book {
  display: block;
}

.pirate-book-chest-wrapper .individual-book h2,
.pirate-book-chest-wrapper .individual-book .edit-book {
  text-align: center;
}

.pirate-book-chest-wrapper .individual-book img:hover {
  box-shadow: 0 5px 8px 5px #720000;
}

.pirate-book-chest-wrapper .individual-book img {
  transition: box-shadow .3s;
}

@media screen and (min-width: 360px) {
  .pirate-book-chest-wrapper .individual-book {
    width: 100%;
  }
}

@media screen and (min-width: 667px) {
  .pirate-book-chest-wrapper .individual-book {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .pirate-book-chest-wrapper {
    margin: 1.2em !important;
  }
}

.pirate-book-chest-wrapper .book-placeholder {
  background-color: #720000;
  color: #fff;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  width: 225px;
}

.pirate-book-chest-wrapper .wp-post-image {
  margin-top: 0;
}

.single-books .reading-status span {
  background-color: #720000;
  display: block;
  height: 5px;
}

.post-type-archive-music_video article.type-music_video {
  max-width: 1024px;
}

.badges img {
  height: 15px;
  width: 80px;
}

@media screen and (min-width: 768px) {
  #site-generator {
    display: flex;
  }
  #site-generator > div {
    padding: 0 30px;
    width: 50%;
  }
  #site-generator .site-fun-stuff {
    text-align: left;
  }
  #site-generator .site-credits {
    text-align: right;
    margin-top: 16px;
  }
}

#algolia-search-box input[type="search"] {
  border: 1px solid #d1d5d7;
  border-radius: 50px;
  width: 80%;
}

#algolia-search-box input[type="search"]:focus {
  outline: 0;
}

#ais-main .algolia-search-box-wrapper .search-icon {
  fill: #533875;
  left: 5px;
}

#ais-facets h2 {
  text-decoration: underline #720000 3px;
}

.ais-CurrentRefinements-label {
  display: none;
}

.ais-CurrentRefinements-delete {
  border: none;
}

.ais-CurrentRefinements-delete:hover {
  border: none;
  background: transparent;
  color: #4f575a;
}

.ais-RefinementList-checkbox {
  margin-right: 5px;
}

#ais-main .ais-Hits-item em, #ais-main .ais-Hits-item a em, #ais-main .ais-Hits-item mark, #ais-main .ais-Hits-item a mark {
  background-color: #720000;
  color: #fff;
}

.site-header .site-branding .search-field {
  width: 100%;
}

.site-header .search-form {
  width: 500px;
}

@media (max-width: 1000px) {
  .site-header .search-form {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */